          <h2 style="font-weight: 100;">Dodawanie zawodów</h2>
          <div class="row">
            <div class="col-lg-8">
              <form class="shadow-sm">
                <div class="form-group">
                  <h5>Nazwa zawodów</h5>
                  <input class="form-control" type="text" ng-model="model.name" placeholder="">
                </div>
                <h5>Typ zawodów</h5>
                <div class="row">
                  <div class="col-md-6">
                    <label class="custom-control custom-radio">
                      <input id="radio1" name="radio" ng-model="model.type" type="radio" class="custom-control-input">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Jednodniowe</span>
                    </label>
                  </div>
                  <div class="col-md-6">
                    <label class="custom-control custom-radio">
                      <input id="radio2" name="radio" ng-model="model.type" type="radio" class="custom-control-input">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Kilka dni</span>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Data rozpoczęcia zawodów</label>
                      <input ng-model="model.date_start" class="form-control" type="text" placeholder="YYYY-MM-DD HH:mm">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Data zakończenia zawodów</label>
                      <input ng-model="model.date_end" class="form-control" type="text" placeholder="YYYY-MM-DD HH:mm">
                    </div>
                  </div>
                </div>
                <h5>Adres</h5>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Kraj</label>
                      <input ng-model="model.country" class="form-control" type="text" value="Polska">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Miasto</label>
                      <input ng-model="model.city" class="form-control" type="text" placeholder="">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Kod pocztowy</label>
                      <input ng-model="model.zipcode" class="form-control" type="text" placeholder="">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Ulica</label>
                      <input ng-model="model.street" class="form-control" type="text" placeholder="">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Nr domu</label>
                      <input ng-model="model.home" class="form-control" type="text" placeholder="">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Nr mieszkania</label>
                      <input ng-model="model.flat" class="form-control" type="text" placeholder="">
                    </div>
                  </div>
                </div>
                <h5>Kontakt</h5>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Numer telefonu</label>
                      <input ng-model="model.phone" class="form-control" type="text" value="">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>E-mail</label>
                      <input ng-model="model.email" class="form-control" type="text" placeholder="">
                    </div>
                  </div>
                </div>
                <h5>Opcje dodatkowe</h5>
                <div class="row">
                  <div class="col-md-4">
                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                      <input type="checkbox" class="custom-control-input" id="customControlInline">
                      <label class="custom-control-label" for="customControlInline">Kwalifikacje</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                      <input type="checkbox" class="custom-control-input" id="customControlInlineq">
                      <label class="custom-control-label" for="customControlInlineq">Rozszerzony pomiar czasu</label>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                      <input type="checkbox" class="custom-control-input" id="customControlInlineq">
                      <label class="custom-control-label" for="customControlInlineq">Zawody płatne</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <h5>Opis zawodów</h5>
                  <textarea ng-model="model.description" class="form-control" type="text" rows="5"></textarea>
                </div>
              </form>
            </div>
            <div class="col-lg-4">
              <form class="shadow-sm">
                <center>
                  <h3>Dodaj logo</h3>
                  <button class="btn-plus">
                    <i class="fas fa-plus"></i>
                  </button>
                </center>
              </form>
              <form>
                <center>
                  <h3>Społeczność</h3>
                </center>
                <div class="form-group">
                  <label>Facebook</label>
                  <input ng-model="model.url_logo" class="form-control" type="text" placeholder="">
                </div>
                <div class="form-group">
                  <label>Instagram</label>
                  <input ng-model="model.url_insta" class="form-control" type="text" placeholder="">
                </div>
                <div class="form-group">
                  <label>Youtube</label>
                  <input ng-model="model.url_yt" class="form-control" type="text" placeholder="">
                </div>
              </form>
            </div>
          </div>
          <button class="btn btn-primary" ng-click="addEvent()">Dodaj zawody</button>