<h2 style="font-weight: 100;">Dodawanie treningu</h2>
<h5 style="font-weight: 100;">Zawody: {{model.name}}, kategoria {{activeCategory.name}}</h5>
<div class="row">
  <div class="col-12">
    <form class="shadow-sm">
      <div class="form-group">
        <h5>Nazwa workoutu</h5>
        <input class="form-control" type="text" ng-model="workout.name">
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <h5>Time cap</h5>
            <input class="form-control" type="text" ng-model="workout.timecap">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <h5>Numer workoutu</h5>
            <input class="form-control" type="text" ng-model="workout.number">
          </div>
        </div>
      </div>
      <div class="form-group">
        <h5>Opis workoutu</h5>
        <textarea ng-model="workout.description" class="form-control" type="text" rows="5"></textarea>
      </div>
    </form>
    <button class="btn btn-primary" ng-click="addWorkout()">Dodaj</button>
  </div>
</div>