<h2 style="font-weight: 100;">Edycja profilu</h2>

          <div class="row">
            <div class="col-lg-8">
              <form class="shadow-sm">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <h5>Imię</h5>
                      <input class="form-control" type="text" ng-model="user.name">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <h5>Nazwisko</h5>
                      <input class="form-control" type="text" ng-model="user.surname">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <h5>Email</h5>
                      <input class="form-control" type="text" ng-model="user.email">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <h5>Telefon</h5>
                      <input class="form-control" type="text" ng-model="user.phone">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <h5>Hasło</h5>
                      <input class="form-control" type="password" ng-model="user.password">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <h5>Powtórz hasło</h5>
                      <input class="form-control" type="password" ng-model="tmp.pass">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <h5>Pesel</h5>
                      <input class="form-control" type="text" ng-model="user.pesel">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <h5>NIP</h5>
                      <input class="form-control" type="text" ng-model="user.nip">
                    </div>
                  </div>
                </div>
              </form>
              
              <form class="shadow-sm">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <h5>Ulica</h5>
                      <input class="form-control" type="text" ng-model="user.street">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <h5>Nr domu</h5>
                      <input class="form-control" type="text" ng-model="user.house">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <h5>Nr lokalu</h5>
                      <input class="form-control" type="text" ng-model="user.flat">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <h5>Państwo</h5>
                      <input class="form-control" type="text" ng-model="user.country">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <h5>Miasto</h5>
                      <input class="form-control" type="text" ng-model="user.city">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <h5>Kod pocztowy</h5>
                      <input class="form-control" type="text" ng-model="tmp.zipcode">
                    </div>
                  </div>
                </div>
              </form>
                
            </div>
            <div class="col-lg-4">
              <form class="shadow-sm">
                <center>
                  <h3 ng-if="user.avatar_url">Avatar</h3>
                  <img ng-if="user.avatar_url" class="img-fluid" ng-src="{{baseApi}}/downloadFile/{{user.avatar_url}}">
                  <br /><br />
                  <button ng-if="user.avatar_url" class="btn btn-danger" ng-click="deleteAvatar()">Usuń avatar</button>
                  <h3 ng-if="!user.avatar_url">Dodaj avatar</h3>
                  <input style="display: none;" type="file" onchange="angular.element(this).scope().UploadAvatar({files : this.files});" id="fileinput">
                  <button ng-if="!user.avatar_url" class="btn-plus" onclick="logobutton()">
                    <i class="fas fa-plus"></i>
                  </button>
                </center>
              </form>
              <form>
                <center>
                  <h3>Społeczność</h3>
                </center>
                <div class="form-group">
                  <label>Facebook</label>
                  <input ng-model="user.facebook" class="form-control" type="text" placeholder="">
                </div>
                <div class="form-group">
                  <label>Instagram</label>
                  <input ng-model="user.instagram" class="form-control" type="text" placeholder="">
                </div>
                <div class="form-group">
                  <label>Youtube</label>
                  <input ng-model="user.youtube" class="form-control" type="text" placeholder="">
                </div>
              </form>
            </div>
          </div>
          <button class="btn btn-primary" ng-click="update_user()">Zapisz</button>