<h2 style="font-weight: 100;">Lista zawodników</h2>
<br />

<form class="shadow-sm">
  <ul class="nav nav-tabs">
    <li class="nav-item" ng-repeat="x in categories">
      <a ng-if="activeCategory.id == x.id" class="nav-link nav-active" ng-click="getUsersByCatID(x.id)">{{x.name}}</a>
      <a ng-if="activeCategory.id != x.id" class="nav-link active" ng-click="getUsersByCatID(x.id)">{{x.name}}</a>
    </li>
  </ul>
  <table class="table">
    <thead>
      <th>Imię i nazwisko</th>
      <th>Email</th>
      <th>Telefon</th>
      <th>Usuń</th>
    </thead>
    <tbody>
      <tr ng-repeat="x in players" ng-if="players.length">
        <td>{{x.name}} {{x.surname}}</td>
        <td>{{x.email}}</td>
        <td>{{x.phone}}</td>
        <td><button class="btn btn-danger" ng-click="removePlayer(x)">X</button></td>
      </tr>
    </tbody>
  </table>
  <br />
  <button class="btn btn-info" ng-click="addPlayer()">Dodaj zawodnika</button>
</form>