<h2 style="font-weight: 100;">Lista treningów</h2>
<br />

<form class="shadow-sm">
  <ul class="nav nav-tabs">
    <li class="nav-item" ng-repeat="x in categories">
      <a ng-if="activeCategory.id == x.id" class="nav-link nav-active" ng-click="getWorkoutsByCatID(x.id)">{{x.name}}</a>
      <a ng-if="activeCategory.id != x.id" class="nav-link active" ng-click="getWorkoutsByCatID(x.id)">{{x.name}}</a>
    </li>
  </ul>
  <table class="table">
    <thead>
      <th>Lp.</th>
      <th>Nazwa</th>
      <th>Opis</th>
      <th>Time cap</th>
      <th>Edytuj</th>
      <th>Usuń</th>
    </thead>
    <tbody>
      <tr ng-repeat="x in workouts" ng-if="workouts.length">
        <td>{{$index + 1}}</td>
        <td>{{x.name}}</td>
        <td>{{x.description}}</td>
        <td>{{x.timecap}}</td>
        <td><button class="btn" ng-click="gotoEdit_workout(x)">GO</button></td>
        <td><button class="btn btn-danger" ng-click="removeWorkout(x)">X</button></td>
      </tr>
    </tbody>
  </table>
  <br />
  <a href="#/add_workout"><button class="btn btn-info">Dodaj trening</button></a>
</form>