@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'Lato', sans-serif;
}

.navbar {
    padding: 0px 10px;
    background: white;
    border: none;
    border-radius: 0;

}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: white;
  position: fixed;
  transition: all 0.3s;
}

#sidebar a, #sidebar a:hover {
  color: unset;
  text-decoration: none;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 10px 40px;
  background: white;
  margin-bottom: 20px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  transition-duration: 0.2s;
}

#sidebar ul li a:hover {
  font-size: 1.13rem;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 1rem !important;
  padding-left: 30px !important;
  transition-duration: 0.2s;
}

ul ul a:hover {
  font-size: 1.1rem !important;
}

ul.CTAs {
    padding: 20px;
}

#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  background: #ededed;
  margin-left: 250px;
}

#info {
  padding: 30px 60px;
}

form {
  background: white;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #dedede;
  margin: 20px 0;
}

form label, form h5, form h4, form h3 {
  font-weight: 100;
}

.btn-plus {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size:60px;
  font-weight: 100;
  border: 2px solid gray;
  border-radius: 50%;
  background: transparent;
  height: 120px;
  width: 120px;
  color: gray;
  transition-duration: 0.15s;
  cursor: pointer;
}

.btn-plus:hover {
  background: rgba(0, 0, 0, 0.04);
  color: #464646;
}